/* The Modal (background) */
.modal-out {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-out-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close-out {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-out:hover,
  .close-out:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-out-header {
    padding: 2px 16px;
    background-color: #984360;
    color: white;
  }
  
  .modal-out-body {padding: 2px 16px;}
  
  .modal-out-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .back-image{
    background-image: url('D:/LICENTA/WebApp/images/cool.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: rgba(255,255,255,0.5); 
    background-size: cover;
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    width: 1700px;
    height: 900px;
  }